.caixa-resultados {
    position: absolute;
    top: -8px;
    background-color: white;
    width: 100%;
    min-height: 55vh;
    border-radius: 15px;
    padding: 30px 23px 10px 23px;
    font-family: 'Ubuntu Bold', Arial, sans-serif;
}

.caixa-resultados p {
    color: hsl(231, 11%, 63%);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 1em;
    margin-bottom: 15px;
    padding-right: 10px;
}

.informacoes {
    background-color: hsl(217, 100%, 97%);
    border-radius: 5px;
    padding: 10px;
}

.results-inf, .online-service-results, .larger-storage-results, .customizable-profile-results {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.estilo-ancora:hover {
    text-decoration: underline;
    color:hsl(243, 100%, 62%);
    cursor: pointer;
}

hr {
    margin: 15px 0px;
}

.results-inf h3 {
    color: hsl(213, 96%, 18%);
}

.results-inf a, .online-service-results p, .larger-storage-results p, .customizable-profile-results p {
    color:hsl(231, 11%, 63%);
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0px;
}

.results-inf span, .online-service-results span, .larger-storage-results span, .customizable-profile-results span {
    color: hsl(213, 96%, 18%);
    display: flex;
    align-items: center;
}

.total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin: 14px 0px;
}

.total p {
    margin-bottom: 0;
}

.total span {
    color:hsl(243, 100%, 62%);
    font-size: 1.1em;
}

a.confirm {
    background-color:hsl(243, 100%, 62%);
}

@media (min-width: 600px) {

    
    .informacoes, .total {
        margin-top: 40px;
    }

    .caixa-resultados {
        min-height: auto;
    }

}