@font-face {
    font-family: 'Ubuntu Bold';
    src: url('../assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: hsl(217, 100%, 97%);
}

.formulario {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: url('../assets/images/bg-sidebar-mobile.svg') no-repeat top center;
}

.numeros {
    min-width: 80%;
    min-height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Ubuntu Bold', Arial, sans-serif;
    font-weight: bold;
}

.numeros span {
    margin: 0px 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: 1px solid white;
}

.numeros span.active {
    background-color: hsl(206, 94%, 87%);
    color: hsl(243, 100%, 62%);
    border: none;
}

.caixa-formulario {
    position: relative;
    min-width: 93%;
    min-height: 84vh;
    margin: 0px 15px;
}

.caixa-formulario .caixa-form {
    position: absolute;
    top: -8px;
    background-color: white;
    width: 100%;
    min-height: 55vh;
    border-radius: 15px;
    padding: 30px 23px 10px 23px;
    font-family: 'Ubuntu Bold', Arial, sans-serif;
}

.caixa-form h2, .caixa-resultados h2 {
    color: hsl(213, 96%, 18%);
    font-size: 1.6em;
    font-weight: bolder;
    margin-bottom: 10px;
}

.caixa-form p {
    color: hsl(231, 11%, 63%);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
}

form label {
    display: block;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color:hsl(213, 96%, 18%);
    margin-bottom: 4px;
}

form input {
    width: 100%;
    height: 45px;
    border-radius: 7px;
    font-weight: 700;
    font-size: 1em;
    color: hsl(229, 24%, 87%);
    margin-bottom: 20px;
    text-indent: 15px;
    border: 1px solid hsl(231, 11%, 63%);
}

.button-next {
    position: absolute;
    bottom: 10px;
    right: 0px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    width: 120px;
    height: 45px;
    border-radius: 5px;
    background-color:hsl(213, 96%, 18%);
}

.barra-branca-responsivo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: white;
}
